.thing-container {
    position: relative;
    width: 100%;
    padding: 3px 10px;
    padding-right: 55px;
    margin: 5px 0;
    border-radius: 2px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-style: italic;
    font-weight: 600;
    text-align: left;
    line-height: 1.2em;
    box-shadow: 0 0 6px rgb(0 0 0 / 30%);
    background: #3F3F3F;
    color: #DCDCDC;
}

::selection {
    background: #d33682;
    color: #fff;
    text-shadow: none;
}

.thing-key {
    text-indent: 1.5em;
    color: #DCDCDC;
}

.thing-value {
    color: #CC9393;
}

.update-btn {
    position: absolute;
    top: 0.45rem;
    right: 1.8rem;
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.update-btn:hover {
    transform: scale(1.1);
    filter: invert(0.1);
}

.update-btn:active {
    transform: scale(1.1) translateY(-2px);
    filter: invert(0.1);
}